* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* I am still trying to get better at customing my website, but here I attempted a biege/brown type of look if standard font. */
body {
    font-family: Arial, sans-serif;
    background-color: beige;
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    background-color: #706f6f;
    padding: 20px;
}

h1 {
    font-size: 42px;
    font-family: Arial, sans-serif;
}



/* Moved the header links to the right top corner */
nav {
    display: flex;
    justify-content: flex-end;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 10px;
}
/* I wanted to add a border to the images the the nav to let it compliment the background. I had to mess around with the padding and radius to get it to my liking. */
nav a {
    border-radius: 50px;
    padding: 10px 15px;
    background-color: #555;
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    background-color: #a78861;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 40px;

}
/* I feel like there is a way to add a border to this image by utilizing the .container right above here^ but I could nto figure it out. So I added this additional container  */
.container img {
    border: 7px solid #c6a580; 
}
.work-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
}

.work-gallery img {
    transition: transform 0.3s ease;
    width: 100%;
    height: auto;
    border: 5px solid #c6a580;
    border-radius: 5px; 
}

.work-gallery img:hover {
    transform: scale(1.1);
    border-color: #333;
}

.featured-image {
    width: 100%;
    height: auto;
    border: 2px solid #555;
}

.footer-nav {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 20px;
    margin: 2%;
}
/* I struggled for a bit to get my footer links to sit on the right bottom corner. Here I am not sure if I could have achieved the same outcome with less code? */
.footer-nav li {
    margin-right: 10px;
}

.footer-nav li:last-child {
    margin-right: 0;
}
/* Here just tried to match the body images and borders */
.footer-nav a {
    border-radius: 50px;
    padding: 10px 15px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
}

.footer-nav a:hover {
    background-color: #555;
}
